@import '../../styles/scss/Mixins/GlobalMixins.scss';


.btn-container{
    height: 40px;
    width: 200px;
    position: absolute;
    // margin-top: -140px;
    top: 80%;
    left: 19%;
}
.floor-modal-container{
    left: 8%;
    height: 350px;
    // width: 100%;
    .floor-modal-title{
        // background-color: #ff5757;
        @include Background(url(../../images/garage-photo.jpg));
        height: 180px;
        width: 100%;
        // padding-top: 60px;
        // border-bottom: 2px solid #007bff;
        .close-floor-form{
            font-size: 24px;
            // font-weight: lighter;
            color: white;
            float: right;
            // margin-top: -12px;
            // margin-right: -10px;
            margin: -22px, -10px, 0, 0;
        }
        .d-title{
            font-size: 26px;
            padding-top: 30px;
            text-transform: capitalize;
            color: #f7f7f7;
        }
    }
    .floor-modal-form-container{
        // border: 2px solid black;
        width: 90%;
        height: 160px;
        // margin-top: 35px;
        margin-left: 15px;
        .floor-form{
            .hidden-inputs{
                display: none;
            }
            .floor-level-label{
                font-size: 26px;
                font-weight: 500;
                text-transform: capitalize;
                text-align: center;
                width: 100%;
            }
            .widget-container{
                @include Display(row,unset,unset);
            }
            .floor-level-input{
                display: block;
                height: 50px;
                width: 50%;
                margin-left: 50px;
                margin-top: 6px;
                // border: none;
                font-size: 34px;
                // font-weight: lighter;
                color: #ff5757;
                text-align: center;
            }
            .floor-submit-btn{
                margin-top: 12px;
            }
        }
    }
}
.locate-pg-btn-container{
    background-color: #007bff !important;
    height: 40px;
    width: 200px;
    position: absolute;
    top: 40%;
}
.locate-pg-btn{
    color: #f7f7f7;
    height: 40px;
    width: 200px;
    text-align: center;
    position: absolute;
    font-size: 18px;
    top: 0;
    left: 0;
    z-index: 99;
}
.locate-pg-btn:hover{
    text-decoration: none;
    color: #f7f7f7;
}