.top-btn-wrapper{
    height: 40px;
    width: 40px;
    z-index: 99;
    bottom: 10px;
    right: 30px;
    position: fixed;
    transform: scale(0);
    opacity: 0;
    .to-top-btn{
        height: 100% !important;
        width: 100% !important;
        // opacity: 0;
    }
}