.raise-index{
    z-index: 99;
    height: 100vh;
}
.gmnoprint a, .gmnoprint span {
    display:none;
}
.gmnoprint div {
    background:none !important;
}
#GMapsID div div a div img{
    display:none;
}

//Map Marker SVG
.front {
    fill: #0033ff;
    opacity: 0.9;
  }
  .middle {
    fill: white;
    opacity: 1;
  }
  #back {
    fill: #0033ff;
    stroke: #0033ff;
    opacity: 0;
  }
